/* Using simple CSS instead of SCSS or SASS */
.page-container {
	width: 960px;
	margin: 0 auto;
}

.bflex {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.bflex-item {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
}

.size-large {
	height: 384px;
	flex-basis: 384px;
	background: #f45b69;
	grid-row: 1/3;
	grid-column: 1/3;
}

.size-medium {
	height: 192px;
	flex-basis: 192px;
	background: #446990;
}

.size-mini {
	display: flex;
	flex-wrap: wrap;
	height: 192px;
	flex-basis: 192px;
	background: #deb841;
}

.size-micro {
	height: 96px;
	flex-basis: 96px;
	background: #028090;
}

@media only screen and (max-width: 1024px) {
	.page-container {
		width: 768px;
		margin: 0 auto;
	}

	.bflex {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media only screen and (max-width: 768px) {
	.page-container {
		width: 480px;
		margin: 0 auto;
	}

	.bflex {
		grid-template-columns: 1fr 1fr;
	}

	.size-micro {
		flex-basis: 50%;
	}
}

@media only screen and (max-width: 480px) {
	.page-container {
		width: 320px;
		margin: 0 auto;
	}

	.bflex {
		grid-template-columns: 1fr 1fr;
	}

	.size-large {
		height: 320px;
	}
	.size-medium,
	.size-mini {
		height: 180px;
	}
	.size-micro {
		height: 90px;
		flex-basis: 50%;
	}
}

/* Styling - Non crucial */
header h1 {
	font-weight: normal;
}

header small {
	font-size: 50%;
	display: block;
}

header i {
	font-size: 75%;
	vertical-align: super;
}

main {
	position: relative;
}

.viewport-size {
	top: 0;
	right: 0;
	color: #5d5d5d;
	display: block;
	font-size: 12px;
	font-family: monospace;
	position: absolute;
	background: #d6bce8;
	padding: 3px 15px;
	transform: translateY(calc(-100% - 1px));
}

.px-size {
	color: #000;
}

p {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
}

p small {
	width: 26px;
	height: 26px;
	font-size: 75%;
	line-height: 26px;
	margin: 5px auto 0 auto;
	display: block;
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.5);
	border: 2px solid rgba(255, 255, 255, 0.3);
}

.bflex-item.size-medium p {
	font-size: 20px;
}

.bflex-item.size-micro p {
	font-size: 16px;
}

footer {
	font-size: 12px;
	margin-top: 30px;
	text-align: center;
}

.copyright {
	font-size: 11px;
	margin-top: 15px;
}
